*{
	font-family:Tahoma, Geneva, sans-serif;	
	margin:0;
	padding:0;
}

div.menu{
	width:33%;	
	float:left;

}

.ui-btn-text {
	font-size:80%;
}

div.menu > a{
	text-decoration:none;
	color:#3a87b5;
}

header > h2{
	color:white;	
}

article > a{
	text-decoration:none;
	color:#3a87b5;
}
.menu2{
	position:relative;
	left:.5%;	
}
div.pic{
	float:left;
	display:block;
	height:90px;
	width:49%;
	border:1px solid #3a87b5;	
	border-radius:8px;
}

div.pic > p{
	font-size:85%;
	clear:both;
	margin-top:5px;
	text-align:center;
}
div.pic > img{
	display:block;
	
	margin:0 auto;
}
footer{
	padding-bottom:5px;	
}
footer > a{
	width:100%;
	margin:0 auto;
	color:white;	
}

.service{
	margin-top:5px;	
}
a{
	color:#3a87b5;	
}

article.ui-content{
	padding:0;	
}

.flex-direction-nav a{
	display:none;	
}

.main_content > h1{
	text-align:center;	
}

.main_content > img#chris{
	display:block;
	float:right;	
	margin:12px;
	
}

#aboutPage > p{
	text-align:justify;
	margin:10px;
	margin-bottom:15px;	
}


